.App {
  text-align: center;
  display:flex; /*弹性布局*/
  min-height:100vh; /*100% visible height*/
  flex-direction:column;
  .content{
    flex:1; /*content fill, header and footer adjust*/
  }

  .header{
    background-color: rgb(250, 250, 250);
    height: 60px;

    .selected{
      color: #333!important;
      padding-bottom: 5px;
      border-bottom: 1.5px solid #333; /*下划线*/
      
    }

    .box{
      width: 70%;
      height: 100%;
      margin: 0px auto;
      padding: 0px 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a:hover { 
        text-decoration:none; 
        
      }
      .boxleft{
        font-size: 20px;
        color: rgb(43, 42, 42);
        
      }
      .boxleft::after {
        content: "◦◦◦";
        margin-left: 0.5em;
        
      }
      .boxright{
        display: inline-flex;
        justify-content: flex-start;
        :hover{
          color:lightgrey;
        }
        p{
          margin: 0px 10px;
          font-size: 14px;
          color: rgb(102, 102, 102);
        }

      }
      div{
        cursor: pointer;
      }
    }
  }
   
  .footer{
    text-align: center; /*不要在外层添加样式*/
    padding:50px 0px;
    color: #555555;
    background: #fafafa;
    border-top:1px solid #f2f2f2;
   
    p{
      padding:2px 0px;
    }
  }

}

