.masthead{
    justify-content: space-between;
    padding-top: 15px;
    a{
        img{
            width: 30px;
            border-radius: 5px;
            margin:0 10px;
            opacity:0.5;
            
        }  
        
        img:hover{
            opacity:0.3;
        }
    }     
            
}