.masthead{
  display:flex;
  align-items:center;
  justify-content:flex-end;
  padding-top:8px;

  a{margin-left:10px}

  img{width:44px;border-radius:8px;opacity:0.85;transition:opacity .18s ease,transform .18s ease}
  img:hover{opacity:1;transform:translateY(-3px)}

}